html{
    font-family: 'Outfit', sans-serif;
}

body{
    background-color: hsl(212, 45%, 89%);
}

img{
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.qrcodeandtext{
    border-radius: 20px;
    margin-top: 200px;
    margin-left: 270px;
    margin-right: 270px;
    padding: 10px;
    text-align: center;
    background-color: white;
}

#firstparagraphe{
    font-size: 20px;
    font-weight: bold;
}

#secondparagraphe{
    font-size: 15px;
}

.attribution{ 
    font-size: 11px;
    text-align: center; 
}
.attribution a{ 
    color: hsl(228, 45%, 44%);
}